@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    outline: 0 !important;
}

:root {
    --main-font-family: 'Roboto', sans-serif;
    --main-bg-color: #C7E4DF;
    --secondary-bg-color: #53AF9E;
}

#navbar{
    background-color: var(--secondary-bg-color);
    min-height: 6vh;
    width: 100%;
    top: 0;
    position: absolute;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    overflow-x: hidden;
}

#join, #info, #upcoming {
    width: 100vw;
    height: 80vh;
}

.scew {
    transform: skewY(-2.5deg);
}

.unscew {
    transform: skewY(2.5deg);
}

#join-title {
    border: 5px solid white;
    width: 500px;
    text-align: center;
    color: white;
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    margin-top: 10vh;
    padding: 5px;
}

#join-container form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

#join-container input{
    width: 200px;
    margin-top: 25px;
    background-color: transparent;
    border: 1.5px solid white;
    text-indent: 10px;
    padding: 5px;
    caret-color: white;
    width: 300px;

}

#join-container input::placeholder{
    font-weight: 800;
    color: rgb(134, 134, 134);
    text-indent: 10px;
}

#submit-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    font-weight: 1000;
    color: white;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    border: 2.5px solid white;
}

#submit-btn:hover{
    opacity: 0.5;
}

#info {
    background-color: var(--secondary-bg-color);
    overflow: auto;

}

#our-mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mission-title {
    border: 5px solid white;
    width: 500px;
    text-align: center;
    color: var(--secondary-bg-color);
    background-color: white;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 5px;
}
#mission-text{
    border: 2px solid rgb(255, 255, 255);
    height: 50vh;
    width: 50vw;
    margin: 3vh auto;
    font-size: 1.75rem;
    color: white;
    padding: 25px 25px 25px 25px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    /*probably going to add media queries*/
    overflow-y: hidden;
}

#our-mission button{
    margin: 0 auto;
    width: 250px;
    height: 6vh;
    color: var(--secondary-bg-color);
    background-color: white;
    border: 2.5px solid white;
    font-size: 1rem;
    font-weight: 1000;
}

#our-mission button:hover{
    opacity: 0.5;
}
