@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-font-family: 'Roboto', sans-serif;
    --main-bg-color: #C7E4DF;
    --secondary-bg-color: #53AF9E;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    overflow-x: hidden;
}

#join, #info, #upcoming {
    width: 100vw;
    height: 80vh;
}

.scew {
    transform: skewY(-2.5deg);
}

.unscew {
    transform: skewY(2.5deg);
}

#join-title {
    border: 5px solid white;
    width: 500px;
    text-align: center;
    color: white;
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    margin-top: 50px;
}

#info {
    background-color: var(--secondary-bg-color);

}