@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fontlibrary.org/face/glacial-indifference');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

*{
    margin: 0;
    box-sizing: border-box;
    outline: 0 !important;
}

:root {
    --main-font-family: 'GlacialIndifferenceRegular', 'Montserrat';
    --secondary-font-family: 'Roboto', sans-serif;
    --main-bg-color: #C7E4DF;
    --secondary-bg-color: #68b3a5;
    --third-color: #CFF3EC;
    --secondary-section-color: #c1ece4;
    --footer-color: #bbebe3;
}

html {
    scroll-behavior: smooth;
}

button {
    transition: 0.3s all;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    width: 100vw;
    min-height: 80vh;
}

#navbar {
    background-color: var(--secondary-bg-color);
    height: 80px;
    width: 100%;
    top: 0;
    position: absolute;
    padding: 0px 10vw;
    text-align: center;
}

#nav-container {
    width: 1000px;
    display: inline-block;
}

#nav-logo {
    position: relative;
    top: 0px;
}

.nav-link {
    position: relative;
    top: 45px;
    display: inline-block;
    padding: 0px 10px;
    margin-right: 1vw;
}

.nav-link > a {
    color: white;
    font-size: 20px;
}

a.left-animate {
    position: relative;
}

a.left-animate:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left-animate:hover:before {
    visibility: visible;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    overflow-x: hidden;
}

#locations{
    width: 100vw;
    min-height: 90vh;
}

/*
.scew {
    transform: skewY(-2.5deg);
}
.unscew {
    transform: skewY(2.5deg);
}
*/

#join-title {
    border: 10px solid white;
    width: 1000px;
    text-align: center;
    color: white;
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    margin-top: 30vh;
    padding: 10px;
    font-size: 40px;
}

#join-container form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#join-container input{
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid white;
    text-indent: 10px;
    padding: 10px 5px;
    caret-color: white;
    width: 300px;
    font-size: 15px;
}

#join-container input::placeholder{
    font-weight: 800;
    color: rgb(134, 134, 134);
    text-indent: 10px;
}

button, input {
    font-family: var(--main-font-family);
}

#submit-btn {
    font-size: 1rem;
    background-color: var(--secondary-bg-color);
    font-weight: 1000;
    color: white;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border: 2.5px solid white;
    transition: 0.3s all;
}

#submit-btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

#info {
    background-color: var(--secondary-bg-color);
    padding: 50px 0px;
}

#our-mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mission-title {
    border: 5px solid white;
    width: 500px;
    text-align: center;
    color: var(--secondary-bg-color);
    background-color: white;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 5px;
}

#mission-text{
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    width: 50vw;
    margin: 3vh auto;
    font-size: 1.75rem;
    color: white;
    padding: 25px 25px 25px 25px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    /*probably going to add media queries*/
    overflow-y: hidden;
}

#our-mission button{
    margin: 0 auto;
    width: 250px;
    height: 6vh;
    color: var(--secondary-bg-color);
    background-color: white;
    border: 2.5px solid white;
    font-size: 1rem;
    font-weight: 1000;
    transition: 0.3s all;
}

#our-mission button:hover{
    opacity: 0.5;
    cursor: pointer;
}

#impact{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-section-color);
}

#impact-content{
    margin-top: 8vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#impact-text{
    width: 40vw;
}



#impact-img{
    width: 0vw;
}

#img-intro{
    display: flex;
    justify-content: center;
    width: 60vw;
    font-size: 2rem;
    flex-direction: row;
}

#impact-text h1{
    font-size: 3.5rem;
}

#img-intro img{
    width: 35vw;
    height: 35vh;
}

.vl-impact{
    width: 0.1vw;
    height: 10vh;
    border: 2px solid black;
    margin-right: 1vw;
}


#stats{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    text-align: center;
}

#stats-header{
    font-weight: 1000;
    font-size: 2rem;
    text-align: left;
    margin-left: 10vw;
    margin-bottom: 2vh;
}

#stats-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stat{
    width: 10vw;
    font-size: 20px;
}

.stat:not(:first-child){
    margin-right: 2vw;
}

#counting{
    font-size: 30px;
    font-weight: 1000;
}
#locations{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
}

#map-img {
    height: 900px;
}

#map-header{
    text-align: center;
    color: white;
    border: 5px solid white;
    background-color: transparent;
    padding: 25px 25px 25px 25px;
    font-size: 2rem;
    font-weight: 1000;
}

#map{
    border: 2px solid rgb(255, 255, 255);
    height: 60vh;
    width: 50vw;
    margin: 3vh auto;
    font-size: 1.75rem;
    color: white;
    padding: 25px 25px 25px 25px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    /*probably going to add media queries*/
    overflow-y: hidden;
}

#upcoming{
    background-color: var(--main-bg-color);
    padding: 50px 0px;
}

#upcoming-title {
    border: 5px solid white;
    width: 500px;
    text-align: center;
    color: var(--secondary-bg-color);
    background-color: white;
    margin: 0 auto;
    margin-top: 5vh;
}

.event {
    width: 300px;
    height: 500px;
    background-color: var(--secondary-bg-color);
    display: inline-block;
    margin: 30px 50px;
    color: white;
}

.event-img img {
    width: 300px;
}

.event-img {
    overflow-y: hidden;
    height: 250px;
}

.event h1 {
    margin: 10px 0px;
}

.event button {
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    transition: 0.3s all;
}

.event button:hover {
    cursor: pointer;
    opacity: 0.5;
}

#donate{
    display: flex;
    justify-content: center;
    background-color: #68b3a5
}

#donate h1{
    border: 5px solid white;
    width: 500px;
    text-align: center;
    color: var(--secondary-bg-color);
    background-color: white;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 5px;
}

#donate p{
    border: 2px solid rgb(255, 255, 255);
    width: 50vw;
    margin: 3vh auto;
    text-align: center;
    font-size: 1.75rem;
    color: white;
    padding: 25px 25px 25px 25px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    /*probably going to add media queries*/
    overflow-y: hidden;
}

#donate button{
    width: 100%;
    padding: 25px 25px 25px 25px;
    color: white;
    background-color:var(--secondary-bg-color);
    font-size: 1.5rem;
    border: 2px solid white;
}

#donate button:hover{
    opacity: 0.5;
    cursor: pointer;
}

#volunteer {
    height: 400px;
    background-color: #C7E4DF;
}

#volunteer-text h1 {
    width: 500px;
    height: 10px;
    font-size: 50px;
    text-align: left;
    color: var(--secondary-bg-color);
    margin: 120px;
    margin-top: 8vh;
    padding: 5px;
}

#volunteer-text p {
    width: 500px;
    margin: 120px;
    height: 150px;
    font-size: 30px;
    color: var(--secondary-bg-color);
}

#volunteer button{
    width: 500px;
    padding: 25px 25px 25px 25px;
    color: white;
    background-color:var(--secondary-bg-color);
    font-size: 1.5rem;
    border: 2px solid white;
}

#volunteer button:hover{
    opacity: 0.5;
    cursor: pointer;
    border: none;
}

#contact-form > input {
    font-size: 15px;
}

#email-field {
    height: 25px;
    width: 150px;
    border: none;
}

#submit-contact {
    height: 25px;
    width: 50px;
    border: none;
    outline: none;
    transition: 0.3s all;
}

#submit-contact:hover {
    cursor: pointer;
    opacity: 0.7;
}







footer{
    bottom: 0;
    background: var(--footer-color);
  }
  
  .footer-container{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-shrink: 0;
    justify-content: center;
    padding: 20px 50px;
    width: 100%;
  }
  
  .left-col {
      width: 300px;
  }
  
  .left-col p{
    font-size: 16px;
  }
  
  .left-col a{
    color: rgb(103, 129, 103);
  }
  
  .mid-col {
      width: 300px;
  }
  
  .right-col {
      width: 300px;
  }
  
  .social-media{
    margin: 20px 0;
    margin-top: 6vh;
  }
  
  .social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 20px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  
  .mid-col{
      display: flex;
      flex-direction: row;
  }
  
  #footer-links li{
      font-size: 16px;
  }
  
  #footer-links a{
      color: black;
  }
  
  #footer-links li:not(:first-child){
      margin: 1em 0;
  }
  
  #footer-details{
      margin-left: 10px;
      margin-right: 3vw;
  }
  
  #footer-details li{
      font-size: 16px;
      font-weight: 1000;
  }
  
  #footer-details a{
      color: black;
  }
  
  #footer-details li:not(:first-child){
      margin: 1em 0;
  }
  
  #newsletter > h1 {
      font-size: 20px;
      margin: 5px;
  }
  
  #rights-text {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      font-size: 14px;
      color: gray;
  }


  #contact-form > #email-field{
    margin-top: 1vh;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
  }

  #contact-form > #submit-contact{
      margin-left: 1vw;
      border-radius: 2px;
      background-color: var(--secondary-bg-color);
      width: 3vw;
  }
  