
body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    overflow-x: hidden;
}

#locations{
    width: 100vw;
    min-height: 90vh;
}

/*
.scew {
    transform: skewY(-2.5deg);
}
.unscew {
    transform: skewY(2.5deg);
}
*/

/*
#join-title {
    border: 10px solid white;
    width: 1000px;
    text-align: center;
    color: white;
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    margin-top: 30vh;
    padding: 10px;
    font-size: 40px;
}

#join-container form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#join-container input{
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid white;
    text-indent: 10px;
    padding: 10px 5px;
    caret-color: white;
    width: 300px;
    font-size: 15px;
}

#join-container input::placeholder{
    font-weight: 800;
    color: rgb(134, 134, 134);
    text-indent: 10px;
}

#join {
    min-height: 100vh;
}

#submit-btn {
    font-size: 1rem;
    background-color: var(--secondary-bg-color);
    font-weight: 1000;
    color: white;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border: 2.5px solid white;
    transition: 0.3s all;
}
*/

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: rgb(63, 133, 74);
}

#home-text{
    text-align: center;
    width: 20vw;
    color: white;
}

#home-text h1{
    font-size: 3.5rem;
}

#home-text p{
    font-size: 1.5rem;
}

#home-btn{
    margin-top: 2vh;
    width: 7vw;
    height: 5vh;
    font-size: 1rem;
    border: 2px solid white;
    background-color: transparent;
    color: white
}

#mission {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 240, 236);
    height: 35vh;
}

#mission-text{
    margin-top: 5vh;
    text-align: center;
    width: 45vw;
    font-size: 1.5rem;
}

#mission-icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 3vh;
    width: 45vw;
    text-align: center
}

#mission-icons i{
    font-size: 3rem;
}

.mission-icon:not(:first-child){
    margin-left: 5vw;
}

#impact{
    display: flex;
    justify-content: center;
    height: 45vh;
    background-color: var(--secondary-section-color);
}

#impact-content{
    margin-top: 5vh;
    flex-direction: column;
}

#impact-text{
    text-align: center;
    width: 45vw;
}

#impact-text p{
    font-size: 1.5rem;
}

#stats{
    display: flex;
    justify-content: center;
    width: 45vw;
}

#stats-container{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}

.stat{
    text-align: center;
}

.stat:not(:last-child){
    margin-right: 5vw;
    font-size: 1rem;
}

.stat i{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
}
/*
#volunteer{
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
}

#volunteer-content{
    margin-top: 10vh;
}

#volunteer-text{
    width: 35vw;
    font-size: 2rem;
}

#volunteer-btn{
    width: 15vw;
    height: 7vh;
    background-color: var(--secondary-bg-color);
    border: 2px solid white;
    font-size: 1rem;
    color: white;
    font-weight: 1000;
}

#volunteer-text h1{
    font-size: 5rem;
}

#volunteer-img{
    margin-left: 10vw;
    width: 40vw;
    height: 50vh;
    background-color:var(--secondary-bg-color);
}

#locations{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
}

#map-img {
    height: 900px;
}

#map-header{
    text-align: center;
    color: white;
    border: 5px solid white;
    background-color: transparent;
    padding: 25px 25px 25px 25px;
    font-size: 2rem;
    font-weight: 1000;
}

#map{
    border: 2px solid rgb(255, 255, 255);
    height: 60vh;
    width: 50vw;
    margin: 3vh auto;
    font-size: 1.75rem;
    color: white;
    padding: 25px 25px 25px 25px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
}
*/

#upcoming{
    background-color: rgb(77, 184, 91);
    padding: 50px 0px;
}

#upcoming-title {
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 2vh;
}

.event {
    width: 300px;
    height: 500px;
    background-color: var(--secondary-bg-color);
    display: inline-block;
    margin: 30px 50px;
    color: white;
}

.event-img img {
    width: 300px;
}

.event-img {
    overflow-y: hidden;
    height: 250px;
}

.event h1 {
    margin: 10px 0px;
}

.event button {
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    transition: 0.3s all;
}

#donate{
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
    height: 30vh;
    width: 100%;
}

#donate-content{
    text-align: center;
    margin-top: 5vh;
    width: 30vw;
}

#donate-content h1{
    font-size: 2rem;
}

#donate-content p{
    font-size: 1.5rem;
}

#donate-btn{
    margin-top: 2vh;
    height: 4.5vh;
    width: 8vw;
    border-radius: 30px;
    border: none;
    color: white;
    background:var(--secondary-bg-color);
    box-shadow: 0 0 20px #14e67d;
    font-size: 1.5rem;
    font-weight: 1000;
}

