#img-div{
    text-align: center;
    margin-top: 8vh;
    height: 15vh;
    width: 100%;
}

#get-involved{
    display: flex;
    align-items: center;
    height: 110vh;
    background-color:rgb(221, 243, 214);
    flex-direction: column;
}

#join-text{
    margin-top: 3vh;
    width: 55vw;
}

#join-text h1{
    font-size: 3.5rem;
}

#join-text p{
    font-size: 1.5rem;
}

#join-text hr{
    margin-top: 1vh;
    height: 0.2vh;
    background-color: black;
}

#volunteer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5vh;
}

#volunteer-text{
    width: 20vw;
    font-size: 1.5rem;
}

#volunteer-img{
    margin-left: 5vw;
    width: 30vw;
}

#volunteer-btn{
    margin-top: 2vh;
    width: 5vw;
    height: 2vw;
    text-transform: uppercase;
    font-size: 1rem;
    border: 2px solid white;
    color: white;
    background-color: var(--secondary-bg-color);
}

#chapter{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 7vh;
}

#chapter-text{
    width: 20vw;
    font-size: 1.5rem;
}

#chapter-btn{
    margin-top: 2vh;
    width: 5vw;
    height: 2vw;
    text-transform: uppercase;
    font-size: 1rem;
    border: 2px solid white;
    color: white;
    background-color: var(--secondary-bg-color);
}

#map{
    width: 30vw;
    margin-left: 5vw;
    height: 50vh;
    border: 2px solid var(--secondary-bg-color);
    border-radius: 5px;
}

#donate{
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
    height: 30vh;
    width: 100%;
}

#donate-content{
    text-align: center;
    margin-top: 3vh;
    width: 45vw;
}

#donate-content h1{
    font-size: 2rem;
    font-weight: 1000;
}

#donate-content p{
    font-size: 1.2rem;
}

#donate-btn{
    margin-top: 1vh;
    height: 4.5vh;
    width: 8vw;
    border-radius: 30px;
    border: none;
    color: white;
    background:var(--secondary-bg-color);
    box-shadow: 0 0 20px #14e67d;
    font-size: 1rem;
    font-weight: 1000;
}
